@import url('https://fonts.googleapis.com/css2?family=Muli:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    margin-bottom: -10px;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

.navbar {
    background-color: #fff !important;
}

.navbar-brand {
    width: 20%;
}

.navbar a {
    font-size: 1.3rem;
    text-transform: capitalize;
}

.menu_active {
    font-weight: bold;
    border-bottom: 1px solid #565387;
}

.navbar a:hover {
    color: #3498db !important;
}

@media (max-width:991px) {
    .navbar-brand {
        width: 50% !important;
    }
}